<h1>Edit Your Profile</h1>
<form {{action "updateProfile" on="submit"}}>
  <label for="displayName">Display Name</label>
  {{input type="text" value=model.displayName}}

  <label for="profileImageURL">Profile Image</label>
  {{input type="text" value=model.profileImageURL}}

  <label for="shoeSize">Shoe Size</label>
  {{input type="text" value=model.shoeSize}}

  <label for="pantSize">Pants Size</label>
  {{input type="text" value=model.pantSize}}

  <label for="hatSize">Hat Size</label>
  {{input type="text" value=model.hatSize}}

  <label for="shirtSize">Shirt Size</label>
  {{input type="text" value=model.shirtSize}}

  <button type="submit">Update Profile</button>
</form>
