<h1>{{model.displayName}}</h1>
<img alt="{{model.displayName}}'s profile image'" src="{{model.profileImageURL}}" />
<p>Shirt Size: {{model.shirtSize}}</p>
<p>Pant Size: {{model.pantSize}}</p>
<p>Hat Size: {{model.hatSize}}</p>
<p>Shoe Size: {{model.shoeSize}}</p>
