<h1>{{model.displayName}}</h1>

<div class="profile-container--content">
  <div class="profile-container--left">
    <h2>Recent Wishes</h2>
    <div class="flex-items-container">
      {{#each usersWishes as |wishlist|}}
        <div class="profile-wishlist-card">
          <div class="wishlist-card--title">
            {{#link-to 'wishlist.show' wishlist}}
              <img alt="Image of {{wishlist.itemName}}" src="{{wishlist.imgURL}}" class="wishlist-image" />
            {{/link-to}}
          </div>
          <div class="wishlist-card--content">
            <p>{{#link-to 'wishlist.show' wishlist}}{{wishlist.itemName}}{{/link-to}}</p>
            <p>Wished by: {{#link-to 'profile.show' wishlist.submittedBy}}{{wishlist.submittedByDisplayName}}{{/link-to}}</p>
            <span class="wishlist-card--price">{{format-money wishlist.totalPrice format="%s%v"}}</span>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  {{#if media.isMobile}}
    <h2>Info about {{model.displayName}}</h2>
  {{/if}}
  <div class="profile-container--right">
    <img alt="{{model.displayName}}'s profile image'" src="{{model.profileImageURL}}" />
    <p>Shirt Size: {{model.shirtSize}}</p>
    <p>Pant Size: {{model.pantSize}}</p>
    <p>Hat Size: {{model.hatSize}}</p>
    <p>Shoe Size: {{model.shoeSize}}</p>
  </div>
</div>
