<h1 class="your-wishlist-title">All Wishlist Items</h1>
<p>Sort Price: <a href="#" {{action "priceSort"}}>{{sortPriceInfelction}}</a></p>
<div class="wishlist-container">
  {{#each sortedModel as |wishlist|}}
    <div class="wishlist-card">
      <div class="wishlist-card--title">
        {{#link-to 'wishlist.show' wishlist}}
          <img alt="Image of {{wishlist.itemName}}" src="{{wishlist.imgURL}}" class="wishlist-image" />
        {{/link-to}}
      </div>
      <div class="wishlist-card--content">
        <p>{{#link-to 'wishlist.show' wishlist}}{{wishlist.itemName}}{{/link-to}}</p>
        <span class="wishlist-card--price">{{format-money wishlist.totalPrice format="%s%v"}}</span>
      </div>
    </div>
  {{/each}}
</div>
