<nav class="main-navigation">
  <section class="navbar--left">
    <ul>
      {{#link-to "index" tagName="li"}}
        Wishlist
      {{/link-to}}
      <li class="divider"></li>
      {{#if session.isAuthenticated}}
        {{#link-to 'wishlist.new' tagName="li"}}Create a new Wish{{/link-to}}
      {{/if}}
      <li class="divider"></li>
      {{#link-to 'allwishes' tagName="li"}}All wishes{{/link-to}}
      <li class="divider"></li>
    </ul>
  </section>
  <section class="navbar--right">
    <ul>
      <li class="divider"></li>
      <li>
        {{#if session.isAuthenticated}}
          <a href="#" {{action "signOut"}}>
            <img src="{{session.currentUser.profileImageURL}}" alt="{{session.currentUser.displayName}}'s display image'" class="profile-image" />
            Sign out
          </a>
        {{else}}
          <a href="#" {{action "signIn" "twitter"}}>Sign in with Twitter</a>
        {{/if}}
      </li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>

{{outlet}}
