{{#if media.isMobile}}
  <nav class="main-navigation mobile-nav">
    {{#basic-dropdown as |dropdown|}}
      <ul>
        {{#link-to "index" tagName="li"}}
          Your Wishlist
        {{/link-to}}
        {{#if session.isAuthenticated}}
          {{#link-to 'wishlist.new' tagName="li"}}Create a new Wish{{/link-to}}
        {{/if}}
        {{#link-to 'allwishes' tagName="li"}}All wishes{{/link-to}}
        <li>
          {{#if session.isAuthenticated}}
            <a href="#" {{action "signOut"}}>
              <img src="{{session.currentUser.profileImageURL}}" alt="{{session.currentUser.displayName}}'s display image'" class="profile-image" />
              Sign out
            </a>
          {{else}}
            <a href="#" {{action "signIn" "twitter"}}>Sign in with Twitter</a>
          {{/if}}
        </li>
        {{#unless session.isAuthenticated}}
          <li><a href="#" {{action "signIn" "facebook"}}>Sign in with Facebook</a></li>
        {{/unless}}
      </ul>
{{else}}
      <div class="mobile-nav--trigger">
        ☰
      </div>
    {{/basic-dropdown}}
    <div class="title-container">
      <h1>Wishlist</h1>
    </div>
  </nav>
{{else}}
  <nav class="main-navigation">
    <section class="navbar--left">
      <ul>
        {{#link-to "index" tagName="li"}}
          Wishlist
        {{/link-to}}
        <li class="divider"></li>
        {{#if session.isAuthenticated}}
          {{#link-to 'wishlist.new' tagName="li"}}Create a new Wish{{/link-to}}
        {{/if}}
        <li class="divider"></li>
        {{#link-to 'allwishes' tagName="li"}}All wishes{{/link-to}}
        <li class="divider"></li>
      </ul>
    </section>
    <section class="navbar--right">
      <ul>
        <li class="divider"></li>
        <li>
          {{#if session.isAuthenticated}}
            <a href="#" {{action "signOut"}}>
              <img src="{{session.currentUser.profileImageURL}}" alt="{{session.currentUser.displayName}}'s display image'" class="profile-image" />
              Sign out
            </a>
          {{else}}
            <a href="#" {{action "signIn" "twitter"}}>Sign in with Twitter</a>
          {{/if}}
        </li>
        {{#unless session.isAuthenticated}}
          <li class="divider"></li>
          <li><a href="#" {{action "signIn" "facebook"}}>Sign in with Facebook</a></li>
        {{/unless}}
        <li class="divider"></li>
        {{#if session.isAuthenticated}}
          {{#link-to 'profile.edit' tagName="li"}}Edit Profile{{/link-to}}
        {{/if}}
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
{{/if}}

{{outlet}}
