{{#if session.isAuthenticated}}
  <h1 class="your-wishlist-title">Your Wishlist Items</h1>
{{else}}
  <h1 class="not-signed-in"><a href="#"  {{action "signIn" "twitter"}}>Sign in</a> to create a wishlist</h1>
{{/if}}

<div class="wishlist-container">
  {{#if session.isAuthenticated}}
    {{#each usersWishlists as |wishlist|}}
      <div class="wishlist-card">
        <div class="wishlist-card--title">
          {{#link-to 'wishlist.show' wishlist}}
            <img alt="Image of {{wishlist.itemName}}" src="{{wishlist.imgURL}}" class="wishlist-image" />
          {{/link-to}}
        </div>
        <div class="wishlist-card--content">
          <p>{{#link-to 'wishlist.show' wishlist}}{{wishlist.itemName}}{{/link-to}}</p>
          <span class="wishlist-card--price">{{format-money wishlist.totalPrice format="%s%v"}}</span>
        </div>
      </div>
  {{else}}
      <h1 class="nothing-here--medium">
        You don't have any wishes! {{#link-to wishlist.new}}Create one{{/link-to}} now
      </h1>
    {{/each}}
  {{/if}}
</div>
