{{#if session.isAuthenticated}}
  <h1 class="your-wishlist-title">Your Wishlist Items</h1>
{{else}}
  <h1 class="not-signed-in"><a href="#"  {{action "signIn" "twitter"}}>Sign in</a> to create a wishlist</h1>
{{/if}}

<div class="wishlist-container">
  {{#if session.isAuthenticated}}
    {{#each usersWishlists as |wishlist|}}
      <div class="wishlist-card">
        <h4 class="wishlist-card--title">
          {{#link-to 'wishlist.show' wishlist}}
            {{wishlist.itemName}}
          {{/link-to}}
        </h4>
        <div class="wishlist-card--content">
          <div class="row">
            <div class="large-4 columns">
              <a href="{{wishlist.itemURL}}">
                <img alt="Image of {{wishlist.itemName}}" src="{{wishlist.imgURL}}" class="wishlist-image" />
              </a>
            </div>
            <div class="large-8 columns">
              {{#if wishlist.storeName}}
                <p>Store: {{wishlist.storeName}}</p>
              {{/if}}
              <p>Created by: {{#link-to 'profile.show' wishlist.submittedBy}}{{wishlist.submittedByDisplayName}}{{/link-to}}</p>
              <p>Price: {{format-money wishlist.price format="%s%v"}}</p>
              {{#if wishlist.quantity}}
                <p>Quantity: {{wishlist.quantity}}</p>
              {{/if}}
              {{#if wishlist.description}}
                <p>{{wishlist.description}}</p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <h1 class="nothing-here--medium">
        You don't have any wishes! {{#link-to wishlist.new}}Create one{{/link-to}} now
      </h1>
    {{/each}}
  {{/if}}
</div>
